* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  background-color: #e2eaf5;
}

body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.app-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 40px;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-container img {
  margin-right: 20px;
}

/* SHOWCASE */
.showcase-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 60px;
}

.showcase > h2:first-child {
  font-weight: 700;
  font-size: 3.125rem;
  color: #2A394F;
}

.showcase > p {
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 15px;
  color: #9AA0A8;
}

.showcase > h2:last-child {
  font-weight: 700;
  font-size: 5.3125rem;
  color: #2A394F;
}

/* UTILITIES */
.custom-input {
  border: none;
  border-radius: 15px;
  background-color: #fdfffe;
  color: #232323;
  padding: 16px;
  width: 100%;
}

.custom-input:focus {
  outline: 2px solid #3aa2ff;
}

.custom-input::placeholder {
  color: #b1b8c0;
}